<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commands</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="header">
        <div class="header__image">botbear1110</div>
    </header>

    <h1>Commands</h1>
    <div class="wrapper">

    <% categories.forEach(function(category) { %>
        <div class="commands">

            <h2><span style="font-weight:600"><%- category %>s:</span></h2>
            <% commands.forEach(function(command) { %>
                <%  if (command.Category === category) { %>
                    <div class="commands__row">

        <h3><span style="font-weight:600">Command: </span> bb <%- command.Name %></h3>
        <h3><span style="font-weight:600">Category: </span><%- command.Category%></h3>
        <h3><span style="font-weight:600">Permission: </span><%- command.Perm%></h3>
        <p><span style="font-weight:600">Description: </span> <%- command.Command%></p>
    </div>

        <%    } %>
        <% }) %>
    </div>

    <% }) %>
</div>

</body>
</html>