<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commands</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="header">
        <div class="header__image">botbear1110</div>
    </header>

    <h1>List of commands:</h1>
    <h2>Info:</h2>
<p>Join/leave channel commands only works in "botbear1110" and "hotbear1110" chats.</p>
<p>botbear1110's chat works as a proxy chat for forsen's stream, so you will get live notifications etc. in there.</p>
<p>The myping command only pings you in chat, when the streamer is playing a game in your custom ping list.</p>
<p>In Yabbes chat, commands that aren't notify related are disabled</p>
    <div class="wrapper">
<table>
    <% categories.forEach(function(category) { %>
        <div class="commands">
            <tr>
                <th><span style="font-weight:600"><%- category %>s:</span></th>
                <th>Category:</th>
                <th>Permission:</th>
                <th>Description:</th>
              </tr>
            <% commands.forEach(function(command) { %>
                <%  if (command.Category === category) { %>
                    <div class="commands__row">
                        <tr>
                            <td>bb <%- command.Name %></td>
                            <td><%- command.Category%></td>
                            <td><%- command.Perm%></td>
                            <td><%- command.Command%></td>
                          </tr>

    </div>

        <%    } %>
        <% }) %>
        <% if (category !== "Dev command") { %>
        <tr>
            <td></td>
            <td></td>
          </tr>
          <% } %>
    </div>

    <% }) %>
</div>

</body>
</html>